<div class="about-wrapper">
    <div class="row">
      <div class="col-md-12">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>
          This is a application to generate paper's headers. You can do the following operations:
        </span>
        <ul>
          <li>Enter the title of the paper (Title is mandatory)</li>
          <li>Add and Edit authors</li>
          <li>Add and Edit author's affiliations</li>
          <li>Reorder authors</li>
          <li>Delete authors</li>
          <li>Save current information</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>Eduardo Cavichioli</span>
      </div>
    </div>
  </div>