<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Author</h4>
  <button class="close" type="button" aria-label="Close" (click)="activeModal.dismiss('cross click')">
    <span class="fas fa-times"></span>
  </button>
</div>
<form [formGroup]="authorForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="authorName">Author Name <span class="text-danger">*</span></label>
        <input #authorName type="text" class="form-control" formControlName="authorName" [ngClass]="{'is-invalid': submitted && authorForm.controls.authorName.errors}" placeholder="Name"/>
        <div *ngIf="submitted && authorForm.controls.authorName.errors" class="invalid-feedback">
          <span *ngIf="submitted && authorForm.controls.authorName.errors.required">Author name is required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Affiliations
          <button class="btn btn-link btn-add-affiliation" type="button" (click)="addAff()" [disabled]="!authorForm.valid">
            <span class="fas fa-plus-circle text-success"></span>
          </button>
        </label>
        <div formArrayName="authorAffiliationList" *ngFor="let aff of affiliationArray.controls; let i = index;">
          <div [formGroupName]="i">
            <div class="input-group">
              <div class="input-group-prepend" (click)="removeAff(i)">
                <div class="input-group-text text-danger"><span class="fas fa-times"></span></div>
              </div>
              <input class="form-control" formControlName="name" [ngClass]="{'is-invalid': submitted && aff.controls.name.errors}" placeholder="Affiliation"/>
            </div>
          </div>
          <div *ngIf="submitted && aff.controls.name.errors">
            <div *ngIf="aff.controls.name.errors.required" class="text-danger">You cannot add empty Affiliations</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit">{{buttonLabel}}</button>
  </div>
</form>