<div class="title-wrapper" *ngIf="paper">
  <div class="row">
    <div class="col-md-12 title">
      {{paper.title}}
    </div>
  </div>
  <div class="row author-list">
    <div class={{authorsColSize}} *ngFor="let author of paper.authorList">
      {{author.name}}
      <span class="sup" *ngIf="author.affiliationOrder">{{author.affiliationOrder}}</span>
    </div>
  </div>
  <div class="row affiliation-list" *ngFor="let affiliation of affiliationList; let index = index">
    <div class="col-md-12">
      <span class="sup">{{index+1}}</span>
      {{affiliation}}
    </div>
  </div>
</div>