<form name='paperForm' (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="paper.title" name="title" #title="ngModel">
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Title is required</div>
  </div>
  <div class="form-group">
    <label>Authors <span class="fas fa-plus-circle add-btn" (click)="open(addAuthorModal)"></span></label>
    <div class="row">
      <div class="col-md-3" *ngFor="let author of paper.authorList">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h5 class="card-title">{{author.name}}</h5>
              </div>
              <div class="col-md-3">
                <span class="fas fa-edit" (click)="open(addAuthorModal)"></span>
                <span class="fas fa-times-circle remove-btn" (click)="removeAuthor(author.id)"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="badge badge-primary" *ngFor="let aff of author.affiliationList">{{aff}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary" type="button" (click)="onReset()">Reset</button>
  <button class="btn btn-success" type="submit">Save</button>
</form>

<ng-template #addAuthorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Author</h4>
    <button class="close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="fas fa-times"></span>
    </button>
  </div>
  <div class="modal-body">
    lalala
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="modal.close('save')">Save</button>
  </div>
</ng-template>