<form name='paperForm' (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="paper.title" name="title" #title="ngModel">
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Title is required</div>
  </div>
  <div class="form-group">
    <label>Authors <span class="fas fa-plus-circle add-btn"></span></label>
    <div class="row">
      <div class="col-md-3" *ngFor="let author of paper.authorList">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h5 class="card-title">{{author.name}}</h5>
              </div>
              <div class="col-md-3">
                <span class="fas fa-edit"></span>
                <span class="fas fa-times-circle remove-btn" (click)="removeAuthor(author.id)"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="badge badge-primary" *ngFor="let aff of author.affiliationList">{{aff}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary" type="button" (click)="onReset()">Reset</button>
  <button class="btn btn-success" type="submit">Save</button>
</form>